/*Center header. Will eventually center using bootstrap*/
h1 {
  text-align: center;
}

/*Main inputTable. Will style using mostly bootstrap later   */

.inputTable table {
  background-color: #cdcdcd;
  border: 1px double black;
  padding: 5px;
  text-align: left;
}

/*Submit button styling */
input[type=submit]{
  border: 1px solid black;
  padding: 5px 5px;
  background-color: white;
  color: black;
  cursor: pointer;
  width: 100%;
}

/*Submit hover styling  */
input[type=submit]:hover {
  background-color: black;
  color: white;
  border: 1px solid black;
}

/*Outline table */
.newTable th, .newTable td, .newTable table{
  background-color: clear;
  border: 1px solid black;
}

/*Set odd sections of the body of the table to a different color   */
td:nth-child(odd) {
    background: #f4dcd6;
}

/*Center header. Will eventually center using bootstrap  */
.newTable th, .newTable td {
  padding: 3px;
  text-align: center;
}
td.firstRow {
  background-color: #b2d0ea;
}
td.firstCol {
  background-color: #b2d0ea;
}
td.firstCell {
  background-color: #619196;
}
