
/*Center header. Will eventually center using bootstrap*/
h1 {
  text-align: center;
}

/*Main inputTable. Will style using mostly bootstrap later   */

/*Jumbotron formating */
.jumbotron h1 {
  font-family: 'Sansita Swashed', cursive;
}

.inputTable table {
  background-color: #cdcdcd;
  border: 1px double black;
  padding: 5px;
  text-align: left;
  display: block;
  overflow: auto;
}

/*Submit button styling */
input[type=submit]{
  border: 1px solid black;
  padding: 5px 5px;
  background-color: white;
  color: black;
  cursor: pointer;
  width: 100%;
}

/*Submit hover styling  */
input[type=submit]:hover {
  background-color: black;
  color: white;
  border: 1px solid black;
}
input[type=button]{
  border: 1px solid black;
  padding: 5px 5px;
  background-color: white;
  color: black;
  cursor: pointer;
  width: 100%;
}
input[type=button]:hover {
  background-color: black;
  color: white;
  border: 1px solid black;
}
/*Remove arrows*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance:none;
  margin: 0;
}

input[type=number]{
  -moz-appearance: textfield;
}

/*Outline table */
.newTable th, .newTable td, .newTable table{
  background-color: clear;
  border: 1px solid black;
}

/*Set odd sections of the body of the table to a different color   */
td:nth-child(odd) {
    background: #f4dcd6;
}

/*Center header. Will eventually center using bootstrap  */
.newTable th, .newTable td {
  padding: 3px;
  text-align: center;
}


td.firstRow {
  background-color: #b2d0ea;
}
td.firstCol {
  background-color: #b2d0ea;
}
td.firstCell {
  background-color: #619196;
}

#tabs {
  margin-top: 0.5em;
  overflow: auto;
}

/*Formatting for x*/
#tabs li .ui-icon-close {
  float: left;
  margin: 0.4em 0.2em 0.2em 0 0;
  overflow: auto;

}
